body{
    font: arial,helvatica, sans-serif;
}

    #container {
        width: 1050px;
    /*    border: 1px solid grey;*/
        margin: 0 auto;
    }

    #header{
        height: 100px;
        padding: 10px,0px;
    }

    #brand{
        float: left;
    }

    h1 a{
        font-size: 50px;
        font-weight: 100px;
        color: purple;
        text-decoration: none;
    }

    #searchbox{
        float: right; 
        background: linear-gradient(#E4F2B9,#B7E953);
        width: 400px;
        height: 30px;
        padding: 20px 0px 20px 20px;
        margin-top: 20px;
    }

    .text{
        float: left;
        width: 200px;
        padding:5px;
        font-size: 15px;
        color: orange;
        background: white url(images/find.png) right center no-repeat;
        border: 1px solid #C8D03E;
    }
    .submit{
        float: right;
        color: white;
        padding:5px;
        margin-right: 10px;
        font-weight: bold;
        background: purple;
        font-size: 15px;
        border: 1px solid #DCD5E1;
    }

    .clear{
        clear: both;
    }

    #menu{
        height: 70px;
        background: linear-gradient(yellow,orange);
        padding: 7px 0px;
    }

    ul{
        list-style: none;
    }

    #menu ul li{
        float: left;
        padding: 0px 30px;
        height: 30px;
        border-right: 1px solid #5d12e7;
    }

    #menu ul li:last-child{
        border-right: none;
    }

    #menu ul li a{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 17px;
        line-height: 30px;
        color: #5d12e7
        transition: font-size 0.3s ease;
        -webkit-transition: font-size 0.3s ease;
        -moz-transition: font-size 0.3s ease;
        -o-transition: font-size 0.3s ease;
        -ms-transition: font-size 0.3s ease;
    }

    #menu ul li a:hover, #menu ul li a:active{

        font-size: 20px;
       font-weight: bold;
        color: #b314db;
    }

    #introduction{
        background: linear-gradient(#e5f288,#b7e952);
        padding: 30px;
        margin: 10px 0px;
    }

    #introduction h3{
    font-size: 45px;
    color: 316901;
    }

    #introduction p{
    font-size: 25px;
    color: 628f19;
        font-weight: normal;
        text-align: justify;
    }

    .sidebar{
        height: 500px;
        width: 450px;
        border: 1px solid #baf46f;
        border-radius: 20px;
        padding: 10px 30px;
    }

    .sidebar h3{
        color:purple;
        font-size:30px;
    }
    .sidebar ul li a{
        text-decoration: none;
        font-size: 20px;
        color:#5d12e7;
    }

    .sidebar ul li a:hover,.sidebar ul li a:active {
        text-decoration: none;
        color:#b31408;
        font-size: 23px;
        font-weight: bold;
         transition: font-size 0.3s ease;
        -webkit-transition: font-size 0.3s ease;
        -moz-transition: font-size 0.3s ease;
        -o-transition: font-size 0.3s ease;
        -ms-transition: font-size 0.3s ease;
    }


    #lside{
        float: left;
    }

    .sidebar ul {
        padding-top:8px;
    }

    #lside ul li{
        padding: 4px 0px 4px 10px;
    
        list-style-image: url(images/arrow.png)

    }
    #rside ul li{
        padding: 17px 0px 17px 70px;
        /*     list-style-image: url(images/tick.png)*/
        background: url(images/tick.png) no-repeat left center
    }
    #rside{
        float:right;

    }

.footer{
    height: 60px;
    background: linear-gradient(yellow,orange);
    padding: 10px 30px;
    margin-top: 15px;
    
}






